<!DOCTYPE html>
<html lang="es">
<head>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/lightbox.min.js"></script>
    <title></title>
</head>
<body>

<div class="container">
        <h1>STUDENT LIST</h1>
        <div class="row">
            <div class="span8">
    {% for object in object_list %}
                <div style="float: left;padding: 2px;">
                    <p>full_name:{{object.full_name}}</p>
                    <p>dni:{{object.dni}}</p>
                    <p>phoneNumber:{{object.phoneNumber}}</p>
                </div>
    {% empty %}
    <h4>None</h4>
    {% endfor %}
            </div>
        <a href="{% url poststudent %}">New</a>
        </div>
</div>
</body>
</html>